{% extends 'base.html.twig' %}

{% block title %}První spuštění{% endblock %}

{% block body %}
    <h1>První spuštění</h1>
    <p>Zadejte e-mail a nové heslo pro super administrátora.</p>

    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}
    <button class="btn btn-primary">Uložit</button>
    {{ form_end(form) }}
{% endblock %}