{% extends 'base.html.twig' %}

{% block title %}{{ 'title.login'|trans }}{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-8 col">
            <div id="login_card" class="card shadow-sm">
                <div class="card-header bg-light d-flex justify-content-between">
                    <h1 id="login-title" class="mb-0"> {{ 'title.login'|trans }}</h1>
                </div>
                <div class="card-body">
                    <div class="row">
                        <form method="post" class="">
                            <div class="mb-3">
                                <label for="_username" class="form-label">{{ 'field.email'|trans }}</label>
                                <input type="email" name="_username" class="form-control" value="{{ last_username }}" required>
                            </div>
                            <div class="mb-3">
                                <label for="_password" class="form-label">{{ 'field.password'|trans }}</label>
                                <input type="password" name="_password" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on">
                                <label for="remember_me">{{ 'login.remember_me'|trans }}</label>
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary">{{ 'button.login'|trans }}</button>
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}