{% extends 'base.html.twig' %}

{% block title %}{{ 'title.login'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <h1>{{ 'title.login'|trans }}</h1>
        <div class="col-12 col-md-8 col-xl-6">
            <form method="post" class="">
                <div class="mb-3">
                    <label for="_username" class="form-label">{{ 'field.email'|trans }}</label>
                    <input type="email" name="_username" class="form-control" value="{{ last_username }}" required>
                </div>
                <div class="mb-3">
                    <label for="_password" class="form-label">{{ 'field.password'|trans }}</label>
                    <input type="password" name="_password" class="form-control" required>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">{{ 'button.login'|trans }}</button>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </form>
        </div>
    </div>
{% endblock %}