<div id="material_card" class="card shadow-sm">
    <div class="card-header bg-light d-flex justify-content-between">
        <h5 class="mb-0">{{ material.description(app.request.locale) }}</h5>
        <a class="btn btn-sm btn-primary" data-modal-id="materialDetailModal" data-modal-src="{{ path('material_edit', {'id': material.id}) }}" data-modal-title="{{ material.description(app.request.locale) }}"><i class="fa-solid fa-pen-to-square"></i></a>
    </div>
    <div class="card-body">
        <div class="row pb-2">
            <div class="col"><label class="fw-semibold">{{ 'field.name'|trans }}:</label> <span>{{ material.name }}</span></div>
            <div class="col"><label class="fw-semibold">{{ 'field.description'|trans }}:</label> <span>{{ material.description(app.request.locale) }}</span></div>
            <div class="col"><label class="fw-semibold">{{ 'field.latin_name'|trans }}:</label> <span>{{ material.latinName }}</span></div>
        </div>
        <div class="row pb-2">
            <div class="col"><label class="fw-semibold">{{ 'field.type'|trans }}:</label> <span>{{ ('material.type.' ~ material.type.value)|trans({}, 'enum') }}</span></div>
            <div class="col"><label class="fw-semibold">{{ 'field.dry_density'|trans }}:</label> <span>{{ material.dryDensity }}</span></div>
            <div class="col"><label class="fw-semibold">{{ 'field.hardness'|trans }}:</label> <span>{{ material.hardness }}</span></div>
        </div>
        <div class="row">
            <div class="d-flex flex-row justify-content-end pb-2">
                <button class="btn btn-primary" data-modal-id="materialPriceModal" data-modal-src="{{ path('material_price_new', {'id': material.id}) }}" data-modal-title="{{ 'title.new_material_price'|trans }}">
                    <i class="fa fa-plus pe-2"></i>{{ 'button.add'|trans }}
                </button>
            </div>
            <div id="material-prices-table"></div>
        </div>
    </div>
</div>