{% extends 'base.html.twig' %}

{% block title %}{{ 'title.material'|trans }}{% endblock %}

{% block body %}
    <div id="material_card" class="card shadow-sm">
        <div class="card-header bg-light d-flex justify-content-between">
            <div id="material-title">
                {% include 'material/components/_header.html.twig' with { material: material } %}
            </div>
            <a class="btn btn-sm btn-primary" data-modal-id="materialModal" data-modal-src="{{ path('material_edit', {'id': material.id}) }}" data-modal-title="{{ material.wood.description(app.request.locale) }}"><i class="fa-solid fa-pen-to-square"></i></a>
        </div>
        <div class="card-body">
            <div id="material-detail">
                {% include 'material/components/_detail.html.twig' with { material: material } %}
            </div>

            <div class="row">
                <div class="d-flex flex-row justify-content-end pb-2">
                    <button class="btn btn-primary" data-modal-id="materialPriceModal" data-modal-src="{{ path('material_price_new', {'id': material.id}) }}" data-modal-title="{{ 'title.new_material_price'|trans }}">
                        <i class="fa fa-plus pe-2"></i>{{ 'button.add'|trans }}
                    </button>
                </div>
                <div id="material-prices-table"></div>
            </div>
        </div>
    </div>

    {% include 'components/form_modal_frame.html.twig' with {
        modal_id: 'materialPriceModal',
        title: 'title.material_price'|trans
    } %}

    {% include 'components/form_modal_frame.html.twig' with {
        modal_id: 'materialModal',
        title: 'title.material'|trans
    } %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener("turbo:load", () => {
            const el = document.querySelector("#material-prices-table");

            if (el) {
                window.tabulatorTable = new Tabulator(el, {
                    locale: window.APP_LOCALE,
                    langs: window.TabulatoLangs,
                    ajaxURL: "{{ path('api_material_prices', {'id': material.id}) }}",
                    layout: "fitColumns",
                    responsiveLayout: "collapse",
                    ajaxResponse: function(url, params, response) {
                        return response.data;
                    },
                    columns: [
                        { title: "{{ 'field.thickness'|trans }}", field: "thickness", sorter: "number" },
                        { title: "{{ 'field.price'|trans }}", field: "price", sorter: "string" },
                        {
                            title: "Akce",
                            formatter: (cell) => {
                                const row = cell.getRow().getData()
                                const id = row.id;
                                const description = row.thickness;
                                return `<button class="btn btn-sm btn-primary me-1 edit-material-price" data-modal-src="/material/price/${id}/edit" data-modal-id="materialPriceModal" title="Editovat" data-modal-title="${description}" ><i class="fa fa-edit"></i></button>
                                <button class="btn btn-sm btn-danger delete-material-price" data-id="${id}"><i class="fa fa-trash"></i></button>`;
                            },
                            width: 100,
                            hozAlign: "center",
                            cellClick: function (e, cell) {
                                const target = e.target;
                                const row = cell.getRow();
                                const id = row.getData().id;

                                const deleteBtn = target.closest('.delete-material-price');

                                if (deleteBtn) {
                                    if (confirm('Opravdu chcete smazat tuto cenu materiálu?')) {
                                        fetch(`/material/price/${id}`, {
                                            method: 'DELETE',
                                            headers: {
                                                'X-Requested-With': 'XMLHttpRequest',
                                                'Content-Type': 'application/json'
                                            }
                                        })
                                            .then(response => {
                                                if (response.ok) {
                                                    // Reload datagrid
                                                    row.delete();
                                                } else {
                                                    console.log(response);
                                                    alert("Chyba při mazání.");
                                                }
                                            });
                                    }
                                }

                                return false;
                            }
                        }
                    ]
                });
            }
        });

    </script>
{% endblock %}