{% extends 'base.html.twig' %}

{% block title %}{{ 'title.woods'|trans }}{% endblock %}

{% block body %}
    <div class="card shadow-sm">
        <div class="card-header bg-light">
            <h1 class="mb-0">{{ 'title.woods'|trans }}</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="d-flex flex-row justify-content-end pb-2">
                    <button class="btn btn-primary" data-modal-id="woodModal" data-modal-src="{{ path('wood_new') }}" data-modal-title="{{ 'title.new_wood'|trans }}">
                        <i class="fa fa-plus pe-2"></i>{{ 'button.add'|trans }}
                    </button>
                </div>
                {{ component('tabulator_grid', {
                    id: 'woods-table',
                    windowVariable: 'woods',
                    apiUrl: path('api_woods'),
                    showActions: true,
                    rowClickRoute: 'wood_detail',
                    editRoute: 'wood_edit',
                    deleteRoute: 'wood_delete',
                    editModalId: 'woodModal',
                    columns: [
                        { title: 'field.name'|trans, field: "name", sorter: "string" },
                        { title: 'field.description'|trans, field: "description", sorter: "string" },
                        { title: 'field.enabled'|trans, field: "enabled", formatter:"tickCross", sorter:"boolean" },
                    ]
                }) }}
            </div>
        </div>
    </div>

    {% include 'components/form_modal_frame.html.twig' with {
        modal_id: 'woodModal',
        title: 'title.wood'|trans
    } %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}