<div id="color-detail">
    <div class="row pb-2">
        <div class="col"><label class="fw-semibold">{{ 'field.code'|trans }}:</label> <span>{{ color.code }}</span></div>
        <div class="col"><label class="fw-semibold">{{ 'field.description'|trans }}:</label> <span>{{ color.description(app.request.locale) }}</span></div>
        <div class="col"><label class="fw-semibold">{{ 'field.in_stock'|trans }}:</label> <span>{{ color.inStock ? 'boolean.yes'|trans : 'boolean.no'|trans }}</span></div>
    </div>
</div>