{{ form_start(form, {
  attr: {
    id: form_id|default(null),
    class: 'needs-validation',
  }
}) }}

    {% if form.vars.errors|length > 0 %}
      <div class="alert alert-danger">
        <ul class="mb-0">
          {% for error in form.vars.errors %}
            <li>{{ error.message }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

  {{ form_row(form.code) }}
  {{ form_row(form.inStock) }}

  <h5 class="mt-4 mb-3">{{ 'title.localization'|trans }}</h5>
  <div class="row">
    {% for translation in form.translations %}
      {{ form_row(translation.id) }}
      {{ form_row(translation.field) }}
      {{ form_row(translation.locale) }}

      <div class="col-md-6 col-12 mb-3">
        {% set field = translation.vars.data.getField() %}
        {% set locale = translation.vars.data.getLocale() %}
        <label for="{{ translation.value.vars.id }}">
          {{ ('field.' ~ field)|trans({}, 'messages') }} ({{ locale|upper }})
        </label>
        {{ form_widget(translation.value) }}
        {{ form_errors(translation.value) }}
      </div>
    {% endfor %}
    {% do form.translations.setRendered() %}
  </div>

  {{ form_row(form.save) }}
  <input type="hidden" name="frame_id" value="{{ frame_id }}">

{{ form_end(form) }}

