{% extends 'base.html.twig' %}

{% block title %}{{ 'title.product'|trans }}{% endblock %}

{% block body %}
    <div id="product-card" class="card shadow-sm">
        <div class="card-header bg-light d-flex justify-content-between">
            <div id="product-title">
                {% include 'product/components/_header.html.twig' with { product: product } %}
            </div>
            <a class="btn btn-sm btn-primary" data-modal-id="productModal" data-modal-src="{{ path('product_edit', {'id': product.id}) }}" data-modal-title="{{ product.description(app.request.locale) }}"><i class="fa-solid fa-pen-to-square"></i></a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-xxl-4 col-md-12">
                    <div id="product-detail">
                        {% include 'product/components/_detail.html.twig' with { product: product } %}
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="d-flex flex-row justify-content-end pb-2">
                            <button class="btn btn-primary" data-modal-id="productColorModal" data-modal-src="{{ path('product_color_new', {'id': product.id}) }}" data-modal-title="{{ 'title.new_product_color'|trans }}">
                                <i class="fa fa-plus pe-2"></i>{{ 'button.add'|trans }}
                            </button>
                        </div>
                        {{ component('tabulator_grid', {
                            id: 'product-colors-table',
                            pagination: false,
                            windowVariable: 'productColors',
                            apiUrl: path('api_product_colors', {'id': product.id}),
                            showActions: true,
                            editRoute: 'product_color_edit',
                            deleteRoute: 'product_color_delete',
                            editModalId: 'productColorModal',
                            columns: [
                                { title: 'field.color'|trans, field: "color", sorter: "string" },
                                { title: 'field.description'|trans, field: "description", sorter: "string", widthGrow: 2 },
                                { title: 'field.inStock'|trans, field: "inStock", formatter:"tickCross", sorter:"boolean"},
                            ]
                        }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'components/form_modal_frame.html.twig' with {
        modal_id: 'productColorModal',
        title: 'title.product_color'|trans
    } %}

    {% include 'components/form_modal_frame.html.twig' with {
        modal_id: 'productModal',
        title: 'title.product'|trans
    } %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}